__pycache__/
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
.ropeproject/
tests/
.infra/
docs/

docker-compose.yml
.pre-commit-config.yaml
README.md
.env
.env.example
changes.md
final_application.md
final_scripts.md
LICENSE.md
