APP_HOST=0.0.0.0
APP_DOMAIN="https://2ppass.ksenia-travnikova.makridenko.ru/"
DEBUG=True
SECRET_KEY=testsecretkey
PASSWORDS_FERNET_KEY=tMyxs7_a4OshJmd7mq1K-uIDvkYBWpCA
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST="0.0.0.0"
DB_PORT="5432"
